<section class="py-5">
    <div class="container px-5">
      <div class="container">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersData">
                <td>{{user.nombre}}</td>
                <td>{{user.direccion}}</td>
                <td>{{user.telefono}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>